@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: #1f1f1f;
}

ul, ol, li {
  list-style: none;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 200;
  color: #1f1f1f;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: #FEFBF3;
}

#wrap {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
#wrap h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #478083;
  margin-bottom: 30px;
  white-space: nowrap;
}
#wrap .board {
  height: 500px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #eaeaea;
  position: relative;
  left: 0;
  top: 0;
}
#wrap .ctrls button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #58a1a5;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FEFBF3;
  margin-right: 10px;
}
#wrap .ctrls button:hover, #wrap .ctrls button:active {
  background-color: #478083;
}
#wrap .ctrls .resetBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #D57E7E;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FEFBF3;
  margin-right: 0;
}
#wrap .ctrls .resetBtn:hover, #wrap .ctrls .resetBtn:active {
  background-color: #c85858;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  #wrap {
    width: 50%;
    min-width: 510px;
  }
  #wrap h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #b33a3a;
  }
  #wrap .board {
    height: 600px;
    background-color: #fbf6ec;
  }
  #wrap .ctrls button, #wrap .ctrls .resetBtn {
    padding: 10px 30px;
    font-size: 20px;
  }
}
@media screen and (min-width: 993px) {
  #wrap {
    width: 40%;
    min-width: 600px;
    max-width: 700px;
  }
  #wrap h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #478083;
  }
  #wrap .board {
    height: 700px;
  }
  #wrap .ctrls button, #wrap .ctrls .resetBtn {
    margin-right: 5%;
    width: 45%;
    padding: 15px 0;
    font-size: 22px;
    letter-spacing: 1px;
  }
  #wrap .ctrls .resetBtn {
    margin-right: 0;
  }
}

.board > ul {
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.board > ul li {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.board > ul li span {
  width: 100%;
  padding-top: 5.5%;
  margin: 5px 10px 5px 0;
  background-color: #FEFBF3;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1f1f1f;
}
.board > ul li span:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .board > ul li span {
    background-color: #efefef;
    padding-top: 6%;
    font-size: 30px;
  }
}
@media screen and (min-width: 993px) {
  .board > ul li span {
    padding-top: 6%;
    font-size: 36px;
  }
}
.board > ul li span.codeA {
  background-color: #D57E7E;
}
.board > ul li span.codeB {
  background-color: #C6D57E;
}
.board > ul li.codeC span {
  background-color: #79B4B7;
}
.board > ul li:nth-of-type(n+6) {
  display: none;
}

.answer {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  width: 110%;
  height: 200px;
  background-color: rgba(31, 31, 31, 0.5);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}
.answer.play {
  opacity: 1;
  visibility: visible;
}
.answer span {
  width: 100%;
  display: block;
  padding-top: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #FEFBF3;
}
.answer form {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-around;
}
.answer input {
  width: 65%;
  height: 40px;
  border: none;
  outline: none;
  text-indent: 10px;
}
.answer input:invalid {
  background-color: rgba(213, 126, 126, 0.7);
}
.answer .submitBtn {
  width: 20%;
  height: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #FEFBF3;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FEFBF3;
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.answer .submitBtn:hover, .answer .submitBtn:active {
  background-color: #faebc4;
}

.desc {
  display: none;
  position: absolute;
  left: 4%;
  top: 29%;
  width: 350px;
  padding: 20px 10px;
}
@media screen and (min-width: 993px) {
  .desc {
    position: absolute;
    left: -417px;
    top: 296px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .desc {
    transform: translateY(-50%);
    position: absolute;
    left: 4%;
    top: 50%;
  }
}
.desc li {
  height: 70px;
  line-height: 70px;
  text-align: right;
  position: relative;
}
.desc span {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FEFBF3;
  box-shadow: 0 0 2px rgba(31, 31, 31, 0.4);
}
.desc span.codeB {
  background-color: #C6D57E;
}
.desc span.codeA {
  background-color: #D57E7E;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .desc span {
    background-color: #efefef;
  }
}

.infoBtn {
  position: absolute;
  left: 93%;
  top: 12px;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #1f1f1f;
  color: #FEFBF3;
  font-weight: 500;
  border-radius: 50%;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .infoBtn {
    top: 24px;
  }
}
@media screen and (min-width: 993px) {
  .infoBtn {
    top: 40px;
    left: 95%;
  }
}

/*# sourceMappingURL=common.css.map */
